*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #161623;
    //para que su altura cabe en toda la pantalla
    min-height: 100vh;
    //si en caso hay un desbordamiento o algo sobre sale de la pantalla se oculta
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /*es recomendarle que nuestro container inicial sea relative para que los demas
      container hijos puedan moverse libremente y usando no solo relative sino
      tambien absolute*/
    position: relative;

    .card{
        background: #232323;
        width: 320px;
        height: 450px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        .imgBx{
            //sirve para que este adelante de todo las demas etiquetas y no atras
            z-index: -1;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 220px;

            img{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 300px;
                
                transform: translate(-50%, -50%) rotate(-10deg);
            }
        }

        .contentBx{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            text-align: center;
            transition: 1s;

            h2{
            //agrandar letra
            font-weight: 600;
            //separar letras
            letter-spacing: 1px;
            color: #fff;
            }
            //va modificar 2 class a la vez, es un 2x1 para hacer cambios
            .size, .color{
            //todos los textos estara colocados en filas
            display: flex; 
            //centrar textos
            justify-content: center;
            //centrar elementos
            align-items: center;
            padding: 8px 20px;
            //transparencia del texto
            opacity:1 ;
            //tiempo de aparecer en pantalla
            transition: 0.5s;

               h3,h3{
                color: #fff;
                //alargar la letra
                font-weight: 300;
                //agrandar letra
                font-size: 14px;
                //hacer que todas las letras sean Mayusculas
                text-transform: uppercase;
                //separar letra
                letter-spacing: 2px;
                //margen al derecho
                margin-right: 20px;
               }
            }

            .size span{
                width: 20px;
                height: 26px;
                text-align: center;
                //hace que las letras se bajen mas para abajo
                line-height: 24px;
                font-size: 14px;
                display: inline-block;
                color: #111;
                background: #fff;
                border-radius: 4px;
                margin: 0 5px;
                transition: 0.5s;
                //es una funcion para hacer cambios con el mouse, agregando
                //interaccion cuando el usuario use el mouse
                cursor: pointer;
                //funcion que permite cambiar de color al texto y al fondo
                //cuando el mouse pase por esa etiqueta
                &:hover{
                    color:#111;
                    background: #dc7928;
                }

            }

            .color span{
                width: 20px;
                height: 20px;
                background: #f00;
                border-radius: 50%;
                margin: 0 5px;
                //habilitar funcion del mouse
                cursor: pointer;
                //hacer cambios especificos a los hijos del color en orden
                &:nth-child(2){
                    background: blue;
                }
                &:nth-child(3){
                    background: silver;
                }
                &:nth-child(4){
                    background: gold;
                }
            }
        }
    }
}